services:
  {{ service_name }}:
    container_name: {{ service_name }}
    image: lscr.io/linuxserver/bookstack:{{ service_version }}
    environment:
      - PUID=1000
      - PGID=1000
      - APP_URL=https://bookstack.{{ domain }}
      - DB_HOST=mariadb
      - DB_PORT=3306
      # TODO(joey): Extract to variables.
      - DB_USER=foo
      - DB_PASS=bar
      - DB_DATABASE=bookstack
      - QUEUE_CONNECTION=database
    volumes:
      # NB(joey): This is `container_root` / `service_name` by default for
      # relatively consistent volume storage naming.
      - {{ container_service_dir }}:/config
    restart: unless-stopped
    # NB(joey): Assumes you have a `treafik_network` and `mariadb_mariadbnet`
    # network from other places.
    networks:
       - mariadb_mariadbnet
       - traefik_network
networks:
  traefik_network:
    external: true
  mariadb_mariadbnet:
    external: true